@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 25px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showcase {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #000000;
  transition: 0.5s;
  z-index: 2;
  background-image: url("https://images.unsplash.com/photo-1539678786826-79e8b51b457a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
}
.showcase.active {
  right: 300px;
}

.navbar {
  width: 100%;
  margin: auto;
  padding: 35x 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchbar {
  width: 20em;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  border-radius: 60px;
  padding: 10px 10px;
  backdrop-filter: blur(4px) saturate(180%);
}
.frmSearch {
  width: 100%;
}
.frmSearch input[type="text"] {
  background: transparent;
  flex: 1;
  border: 0;
  width: 80%;
  padding-left: 1em;
  outline: none;
  font-size: 15px;
  color: #ffffff94;
}

.frmSearch input[type="reset"] {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding-right: 10px;
  font-size: 1px;
  color: #ffffff;
}

.frmSearch ::placeholder {
  color: white;
}

.frmSearch .btnSearch {
  position: absolute;
  right: 4em;
  background: transparent;
  border: 0;
  outline: none;
  font-size: 20px;
  color: #ffffff;
}

.frmSearch .btnReset {
  position: absolute;
  right: 1em;
  top: 15px;
  background: transparent;
  border: 0;
  outline: none;
  font-size: 15px;
  color: #ffffff;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin: 0 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1em;
  font-size: 1.2em;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

/* ---------------------------- PRODUCT LIST ---------------------------------------- */

.products {
  margin-top: 9em;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 3em;
  width: 90%;
  color: black;
}

.tblproducts {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.tblproducts th {
  background-color: #000000;
  padding: 0.5em;
  color: white;
}
.tblproducts td {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.tblproducts tr {
  border-radius: 15px;
    text-align: center;
}

.tblproducts tr:hover {
  background-color: #ddddddb8;
}

.tblproducts #listimg {
  border-radius: 10px;
  display: flex;
  margin-right: auto;
  width: 15em;
}

.searchres {
  font-size: 2em;
  font-weight: 700;
  color: rgb(0, 0, 0);
  line-height: 1em;
  text-transform: uppercase;
}

#btnview {
  border-radius: 4px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  text-align: center;
  padding: 1em 2em 1em 2em;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#btnview span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#btnview span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#btnview:hover span {
  padding-right: 25px;
}

#btnview:hover span:after {
  opacity: 1;
  right: 0;
}

.login {
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 24px;
  font-weight: 400;
  height: 3rem;
  padding: 0 2rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  text-decoration: none;
  line-height: 2em;
}

.login:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

.text {
  position: relative;
  z-index: 10;
  margin-left: 5%;
}

h1 {
  padding-right: inherit;
  font-size: 2em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
}

label {
  font-size: 1em;
  font-weight: 800;
  color: black;
  line-height: 1em;
}

button {
  font-size: 1em;
  font-weight: 800;
  color: black;
  line-height: 1em;
}

input {
  font-size: 1em;
  font-weight: 800;
  color: black;
  line-height: 1em;
}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
}
.text h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover {
  letter-spacing: 6px;
}
.social {
  position: absolute;
  padding: 10px;
  z-index: 10;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}
/* --------------------------------- LOGIN POP UP -------------- */
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px) saturate(180%);
}

/* Add styles to the form container-row */
.form-container {
  position: relative;
  display: block;
  max-width: 300px;
  padding: 15px;
  margin: auto;
  margin-top: 15%;
  background-color: white;
  border-radius: 30px;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 15px;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #000000;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  border-radius: 15px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgba(255, 0, 0, 0.849);
}
.form-container .create {
  background-color: #4daa57;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
/* --------------------------------- PRODUCT PAGE -------------------------------------------- */
.row {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.column {
  flex: 50%;
}

.all-images {
  height: 40vh;
  width: auto;
  display: flex;
}

.small-images {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.small-images #pimg {
  border-radius: 10px;
  display: flex;
  margin-right: auto;
  height: 5em;
  margin-bottom: 0.5em;
}

.small-images img:hover {
  opacity: 1;
}

.main-images #imagebox {
  border-radius: 15px;
  margin-left: 1em;
  height: 100%;
  margin-right: 3em;
}

.brand {
  background-color: #008000;
  width: fit-content;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
}

.price {
  color: rgb(29, 28, 28);
  font-size: 26px;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 10px;
}

.price-box {
  display: flex;
  align-items: center;
}

.buy {
  background-color: rgb(201, 97, 57);
}

.column .btn {
  background-color: #000000;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  opacity: 0.8;
  border-radius: 15px;
  display: flex;
}

.column h1 {
  color: black;
  text-transform: uppercase;
  padding-bottom: 1em;
  font-size: 3em;
}
.column h2 {
  color: black;
  font-size: 1em;
}

.column h3 {
  padding: 1em;
}

.column .fa {
  padding: 1em;
}

.card {
  padding: 1em;
  border-radius: 15px;
  background: black;
  height: 21em;
  max-height: 21em;
  margin: 1em;
}
.card #boximg {
  border-radius: 10px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 11em;
  max-width: 11em;
  max-height: 11em;
}

.card h1 {
  padding: 1em;
  font-size: 0.8em;
}

.card .view {
  background-color: #ffffff;
  color: black;
  padding: 15px 18px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
/* --------------------------- SIGN UP -------------------------------------- */
.form {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 100;
  padding-top: 7em;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px) saturate(180%);
}

.container-col {
  float: left;
  width: 50%;
}

/* Full-width input fields */
.container-row input[type="text"],
.container-row input[type="password"],
.container-row input[type="date"],
.container-row select {
  width: 100%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background: #f1f1f1;
  border-radius: 15px;
}

/* Add a background color when the inputs get focus */
.container-row input[type="text"]:focus,
.container-row input[type="password"]:focus,
.container-row input[type="date"]:focus,
.container-row select:focus {
  background-color: #ddd;
  outline: none;
}

.container-row button:hover {
  opacity: 1;
}

/* Add padding to container-row elements */
.container-row {
  width: 80%;
  padding: 10px;
  margin: auto;
  background-color: white;
  border-radius: 30px;
}

/* Set a style for the submit/login button */
.container-row .btn {
  background-color: #000000;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.8;
  border-radius: 15px;
}

.container-row .cancel {
  background-color: rgba(255, 0, 0, 0.849);
}

.container-row #listimg {
  width: 50%;
  display: flex;
  margin: auto;
}

.accountList {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: inherit;
  align-items: center;
}

.accountList select {
  padding: 15px;
  border: none;
  background: #f1f1f1;
  border-radius: 15px;
  margin-left: 1em;
}

.selectList {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

.selectList select {
  padding: 15px;
  width: 70%;
  border: none;
  background: #f1f1f1;
  border-radius: 15px;
  margin-left: 1em;
}

.form-element {
  margin: auto;
  width: 90%;
  display: flex;
  padding: 0.5em;
}

.form-element label,
.selectList label {
  display: flex;
  margin: auto;
  width: 30%;
  margin-right: 1em;
}

.form-element input {
  width: 70%;
}

.uploadImg {
  display: grid;
  margin: auto;
  width: 100%;
  justify-items: center;
  justify-content: center;
}
.uploadImg input[type="file"] {
  width: 100%;
  padding: 0.5em;
  border: none;
  border-radius: 15px;
}

.uploadImg input[type="file"]:hover {
  background-color: #ddd;
  outline: none;
}

.uploadImg .btn {
  background-color: #4daa57;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
/* --------------------------- RENT PRODUCT ---------------------------- */
.rent-product {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 100;
  padding-top: 9em;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px) saturate(180%);
}

/* ----------------------------------- ADMIN OPTION ---------------------------------- */
.btnID{
  background-color: black;
  padding: 0.5em;
  color: white;
 border-radius: 5px;
}
.btnID:hover {
  background-color: white;
  color: black;
}

.tblOrders {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.tblOrders td+td {
  border-left: 2px solid black;
}

.tblOrders th{
  background-color: #000000;
  padding: 0.5em;
  color: white;
}

.tblOrders td {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.tblOrders tr {
  border-radius: 15px;
  text-align: center;
}

.tblOrders tr:hover {
  background-color: #ddddddb8;
}

/* -------------------------------------- MANAGE ACCOUNT ----------------------------------------- */

#pendingbtn {
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  padding: 1em;
  position: relative;
  float: right;
  text-decoration: none;
  margin-bottom: 1em;
}

#pendingbtn:hover {
  background: #00bd68;
}

/* -------------------------------------- MEDIA -------------------------------------------------- */
@media (max-width: 1200px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
  .text h4 {
    margin-left: 50%;
  }
  .login {
    padding: 0 2.6rem;
  }
}
